body {
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: aliceblue;
    /* font-size: 30px; */
}

.div1 {
    border: 2px solid rgb(3, 27, 113);
    width: 65%;
    height: 500px;
    /* padding: 5px; */
    text-align: left;
    display: block;
    border-radius: 5px;
}

textarea {
    height: 100px;
    width: 85%;
}

.div2 {
    border: 2px solid rgb(3, 27, 113);
    min-height: 470px;
    max-height: fit-content;
    width: 35%;
    margin: 0px 5px;
    padding: 15px;
    text-align: justify;
    border-radius: 5px;
}

.outer {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

label,
textarea {
    display: block;
    margin-left: 20px;
    margin-top: 5px;
}

.div1 .btn-run {
    text-align: center;
    margin-top: 10px;
    margin-left: 300px;
    background-color: green;
}

.btn-save {
    background-color: rgb(26, 209, 223);
}

.btn-clear {
    background-color: red;
}

textarea:disabled {
    background: #c1c1c1;
}

.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}


/* Green */

.btn-save {
    border-color: #04AA6D;
    color: green;
}

.success:hover {
    background-color: #04AA6D;
    color: white;
}


/* Blue */

.info {
    border-color: #2196F3;
    color: dodgerblue;
}

.info:hover {
    background: #2196F3;
    color: white;
}


/* Orange */

.warning {
    border-color: #ff9800;
    color: orange;
}

.warning:hover {
    background: #ff9800;
    color: white;
}


/* Red */

.danger {
    border-color: #f44336;
    color: red;
}

.danger:hover {
    background: #f44336;
    color: white;
}


/* Gray */

.default {
    border-color: #e7e7e7;
    color: black;
}

.default:hover {
    background: #e7e7e7;
}